# IMPORT

In [28]:
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

# DATA LOAD

In [53]:
with open('../넘블 챌린지 데이터/재무데이터.txt', 'r', encoding='euc-kr') as f:
    data = f.readlines()

column_name = data[0].strip().split('\t')
data_split = [x.strip().split() for x in data[1:]]
재무df = pd.DataFrame(data_split, columns=column_name)
재무df.head()

,사업자번호,결산년월,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,비유동부채,부 채 총 계,...,비유동부채비율(%),부채총계대 매출액(%),총자본회전율(회),재고자산회전율(회),매출채권회전율(회),매입채무회전율(회),미수금,매출원가,무형자산,재고자산
0,1018100340,20181231,2667731,127320,32346444,1179096,35014174,422872,16176067,16598939,...,87.841,250.381,0.163,1E12,44.062,1E12,None,None,None,None
1,1018100340,20191231,2168837,94085,34151633,1209369,36320470,10553878,5240445,15794323,...,1E12,59.092,None,None,None,None,None,None,None,None
2,1018100340,20201231,2272260,78612,38329680,1091153,40601940,863144,15496117,16359261,...,63.921,275.719,0.154,1E12,68.714,1E12,None,None,None,None
3,1018100340,20211231,1175030,273522,37135811,993025,38310842,9494272,4901383,14395654,...,20.495,233.749,0.156,1E12,34.979,1E12,3243,None,None,None
4,1018100772,20181231,422146,17011,20370096,20352846,20792242,2684934,11404637,14089571,...,1250.082,0.055,1E12,69.711,1E12,386880,524746,None,None,None

In [58]:
기업개요=pd.read_excel("../넘블 챌린지 데이터/휴폐업 중소법인 재무보유.xlsx",sheet_name = 0)

In [59]:
기업개요.columns

Index(['BIZ_NO', 'CMP_PFIX_NM', 'CMP_NM', 'CMP_SFIX_NM', 'CMP_ENM', 'BZ_TYP',
       'CMP_SCL', 'PBCO_GB', 'PSN_CORP_GB', 'HDOF_BR_GB', 'FR_IVST_CORP_YN',
       'VENT_YN', 'LIST_CD', 'IND_CD_ORDR', 'IND_CD1', 'IND_CD2', 'IND_CD3',
       'PB_ORG_TYP', 'MDSCO_PRTC_YN', 'HDOF_CMP_CD', 'ESTB_DATE', 'ESTB_GB',
       'LIST_DATE', 'MN_BIZ_CONT', 'NATN_NM', 'HOMEPAGE_URL', 'CEO_NM',
       'EMP_CNT'],
      dtype='object')

In [60]:
휴폐업이력=pd.read_excel("../넘블 챌린지 데이터/휴폐업 중소법인 재무보유.xlsx",sheet_name = 1)

In [61]:
휴폐업이력.columns

Index(['BIZ_NO', 'END_DATE', 'STRT_DATE', 'CLSBZ_GB', 'STAT_OCR_DATE'], dtype='object')

In [66]:
파산기업=pd.merge(기업개요,휴폐업이력,on='BIZ_NO',how='outer')

In [78]:
파산기업.columns

Index(['BIZ_NO', 'CMP_PFIX_NM', 'CMP_NM', 'CMP_SFIX_NM', 'CMP_ENM', 'BZ_TYP',
       'CMP_SCL', 'PBCO_GB', 'PSN_CORP_GB', 'HDOF_BR_GB', 'FR_IVST_CORP_YN',
       'VENT_YN', 'LIST_CD', 'IND_CD_ORDR', 'IND_CD1', 'IND_CD2', 'IND_CD3',
       'PB_ORG_TYP', 'MDSCO_PRTC_YN', 'HDOF_CMP_CD', 'ESTB_DATE', 'ESTB_GB',
       'LIST_DATE', 'MN_BIZ_CONT', 'NATN_NM', 'HOMEPAGE_URL', 'CEO_NM',
       'EMP_CNT', 'END_DATE', 'STRT_DATE', 'CLSBZ_GB', 'STAT_OCR_DATE'],
      dtype='object')

In [81]:
drop_list=['CMP_PFIX_NM','CMP_NM','CMP_ENM','HOMEPAGE_URL','CEO_NM']
파산기업=파산기업.drop(drop_list,axis=1)

In [83]:
파산기업.columns

Index(['BIZ_NO', 'CMP_SFIX_NM', 'BZ_TYP', 'CMP_SCL', 'PBCO_GB', 'PSN_CORP_GB',
       'HDOF_BR_GB', 'FR_IVST_CORP_YN', 'VENT_YN', 'LIST_CD', 'IND_CD_ORDR',
       'IND_CD1', 'IND_CD2', 'IND_CD3', 'PB_ORG_TYP', 'MDSCO_PRTC_YN',
       'HDOF_CMP_CD', 'ESTB_DATE', 'ESTB_GB', 'LIST_DATE', 'MN_BIZ_CONT',
       'NATN_NM', 'EMP_CNT', 'END_DATE', 'STRT_DATE', 'CLSBZ_GB',
       'STAT_OCR_DATE'],
      dtype='object')

In [76]:
df=pd.concat([active기업개요_외감,active기업개요],axis=0)
df[df['BIZ_NO']==1098164260].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 4 to 16
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BIZ_NO           2 non-null      int64
 1   CMP_PFIX_NM      2 non-null      object
 2   CMP_NM1          2 non-null      object
 3   CMP_SFIX_NM      0 non-null      object
 4   CMP_ENM          2 non-null      object
 5   BZ_TYP           2 non-null      object
 6   CMP_SCL          2 non-null      int64
 7   PBCO_GB          2 non-null      int64
 8   PSN_CORP_GB      2 non-null      int64
 9   HDOF_BR_GB       2 non-null      int64
 10  FR_IVST_CORP_YN  2 non-null      object
 11  VENT_YN          2 non-null      object
 12  LIST_CD          0 non-null      object
 13  IND_CD_ORDR      2 non-null      float64
 14  IND_CD1          2 non-null      float64
 15  IND_CD2          0 non-null      float64
 16  IND_CD3          0 non-null      float64
 17  PB_ORG_TYP       2 non-null      int64
 18  MDSCO_PRTC_YN    2 non-null      object
 19  HDOF_CMP_CD      0 non-null      float64
 20  ESTB_DATE        2 non-null      float64
 21  ESTB_GB          2 non-null      float64
 22  LIST_DATE        0 non-null      float64
 23  MN_BIZ_CONT      2 non-null      object
 24  NATN_NM          0 non-null      object
 25  HOMEPAGE_URL     0 non-null      object
 26  CEO_NM           2 non-null      object
 27  EMP_CNT          2 non-null      float64
 28  CMP_NM           1 non-null      object
 29  CMP_TYP          1 non-null      float64
 30  TAXN_TYP         1 non-null      float64
dtypes: float64(11), int64(6), object(14)
memory usage: 512.0+ bytes

In [16]:
active기업개요_외감=pd.read_excel("../넘블 챌린지 데이터/액티브 중소법인 재무보유.xlsx",sheet_name = 0)

In [17]:
active기업개요=pd.read_excel("../넘블 챌린지 데이터/액티브 중소법인 재무보유.xlsx",sheet_name = 1)

In [18]:
active휴폐업이력=pd.read_excel("../넘블 챌린지 데이터/액티브 중소법인 재무보유.xlsx",sheet_name = 2)

In [67]:
active기업=pd.merge(active기업개요_외감,active기업개요,on='BIZ_NO',how='outer')

In [68]:
active기업=pd.merge(active기업,active휴폐업이력,on='BIZ_NO',how='outer')

In [69]:
active기업.head()

,BIZ_NO,CMP_PFIX_NM_x,CMP_NM1_x,CMP_SFIX_NM_x,CMP_ENM_x,BZ_TYP_x,CMP_SCL_x,PBCO_GB_x,PSN_CORP_GB_x,HDOF_BR_GB_x,...,LIST_DATE_y,MN_BIZ_CONT_y,NATN_NM_y,HOMEPAGE_URL_y,CEO_NM_y,EMP_CNT_y,END_DATE,STRT_DATE,CLSBZ_GB,STAT_OCR_DATE
0,1138111739,NaN,한일가스산업,(주),"HANIL GAS IND. CO.,LTD.",M,2.0,2.0,1.0,1.0,...,NaN,LP Gas 충전 및 판매업,NaN,www.hanilgas.com,홍순철외 1명,43.0,NaN,NaN,NaN,NaN
1,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2.0,2.0,1.0,1.0,...,NaN,가죽 및 대용가죽제품 제조업,NaN,www.mastercnd.co.kr,이스테판상수외 1명,35.0,NaN,NaN,NaN,NaN
2,1318167565,NaN,도영운수,(주),"DOYOUNG TRANSPORTATION CO.,LTD.",M,2.0,2.0,1.0,1.0,...,NaN,시내버스업,NaN,transport@naver.com,김명화,149.0,NaN,NaN,NaN,NaN
3,5048128251,(주),중원산업,NaN,"JOONGWON INDUSTRIAL CO.,LTD.",M,2.0,2.0,1.0,1.0,...,NaN,자동차 부품 제조,NaN,www.koreajw.com,김명구,75.0,NaN,NaN,NaN,NaN
4,1098164260,(주),카타나골프,NaN,"CATANA GOLF CO.,LTD.",M,2.0,2.0,1.0,1.0,...,NaN,골프용품 전반의 제조 및 수출업,NaN,NaN,김홍득,3.0,NaN,NaN,NaN,NaN

In [20]:
코드집=pd.read_excel("../넘블 챌린지 데이터/codezip.xlsx",sheet_name = 0)

In [25]:
코드집

,GRP_CD,CD,END_DATE,STRT_DATE,CD_NM
0,BZ_TYP,A,99991231,20191201,신금(신용금고) -> 중소기업과 국민대중을 위한 자금을 융통하며 저축의 증대를 목적...
1,BZ_TYP,B,99991231,20191201,은행
2,BZ_TYP,C,99991231,20191201,카드
3,BZ_TYP,F,99991231,20191201,생보(생명보험) -> 보험사고 발생 객체가 피보험자의 생명 혹은 신체
4,BZ_TYP,I,99991231,20191201,손보(손해보험) -> 보험사고 발생 객체가 피보험자의 재산
5,BZ_TYP,M,99991231,20191201,제조
6,BZ_TYP,O,99991231,20191201,기타금융
7,BZ_TYP,S,99991231,20191201,증권
8,BZ_TYP,V,99991231,20191201,창투(창업투자회사) -> 창의성과 사업성은 있으나 자금력이 부족한 창업자에게 투자 ...
9,CMP_SCL,1,99991231,20191201,대기업
10,CMP_SCL,2,99991231,20191201,중소기업
11,CMP_SCL,3,99991231,20191201,기타(비영리법인)
12,CMP_SCL,4,99991231,20191201,중견기업
13,CMP_SCL,5,99991231,20191201,대기업(금융)
14,CMP_SCL,6,99991231,20191201,중견기업(하)
15,PBCO_GB,1,99991231,20191201,공기업
16,PBCO_GB,2,99991231,20191201,일반기업
17,PSN_CORP_GB,1,99991231,20191201,법인
18,PSN_CORP_GB,2,99991231,20191201,개인
19,HDOF_BR_GB,1,99991231,20191201,본점
20,HDOF_BR_GB,2,99991231,20191201,지점
21,PB_ORG_TYP,0,99991231,20191201,해당사항없음
22,PB_ORG_TYP,1,99991231,20191201,정부기구
23,PB_ORG_TYP,2,99991231,20191201,공기업/준정부기관
24,PB_ORG_TYP,3,99991231,20191201,지자체공단/공사
25,ESTB_GB,01,99991231,20191201,주식
26,ESTB_GB,02,99991231,20191201,합자
27,ESTB_GB,03,99991231,20191201,합명
28,ESTB_GB,04,99991231,20191201,유한
29,ESTB_GB,05,99991231,20191201,조합
30,ESTB_GB,06,99991231,20191201,정부투자기관
31,ESTB_GB,07,99991231,20191201,개인
32,ESTB_GB,08,99991231,20191201,학교
33,ESTB_GB,09,99991231,20191201,병원
34,ESTB_GB,10,99991231,20191201,단체.협회
35,ESTB_GB,11,99991231,20191201,<미정의>
36,ESTB_GB,99,99991231,20191201,기타
37,CLSBZ_GB,1,99991231,20191201,부도
38,CLSBZ_GB,2,99991231,20191201,휴업
39,CLSBZ_GB,3,99991231,20191201,폐업
40,CLSBZ_GB,4,99991231,20191201,피합병
41,CLSBZ_GB,5,99991231,20191201,휴업취소
42,CLSBZ_GB,6,99991231,20191201,폐업취소

* 자연어 get dummies 처리 필요 (관계성 제거)

In [21]:
재무계정=pd.read_excel("../넘블 챌린지 데이터/codezip.xlsx",sheet_name = 1)

In [24]:
재무계정

        계정코드    순번         계정명                           영문
0     M11000     1        유동자산               Current Assets
1     M11001     2      *국고보조금          *Governments Grants
2     M11002     3          현금                         Cash
3     M11003     4          외화           Foreign Currencies
4     M11004     5          예금                Bank Deposits
...      ...   ...         ...                          ...
2050  MG1400  2051     변동비율(%)      Variable Costs Ratio(%)
2051  MG1500  2052    공헌이익률(%)  Contribution Margin Rate(%)
2052  MG1600  2053   손익분기점률(%)    Break-Even Point Ratio(%)
2053  MG1700  2054  안전한계(안전이익)             Margin of Safety
2054  MG1800  2055       안전이익률      Marginal Rate of Safety

[2055 rows x 4 columns]

In [22]:
레이아웃=pd.read_excel("../넘블 챌린지 데이터/넘블 챌린지 개방데이터 레이아웃.xlsx",sheet_name = 0)

In [31]:
레이아웃

,순서,테이블명,영문칼럼명,한글칼럼명,칼럼형식,디폴트값,NULL여부,비고
0,1.0,기업개요,BIZ_NO,사업자등록번호,VARCHAR2(10),'Z',N,NaN
1,2.0,기업개요,CMP_PFIX_NM,기업접두명,VARCHAR2(64),NaN,Y,NaN
2,3.0,기업개요,CMP_NM,기업명,VARCHAR2(128),NaN,Y,NaN
3,4.0,기업개요,CMP_SFIX_NM,기업접미명,VARCHAR2(64),NaN,Y,NaN
4,5.0,기업개요,CMP_ENM,기업영문명,VARCHAR2(256),NaN,Y,NaN
5,6.0,기업개요,BZ_TYP,업종,VARCHAR2(3),NaN,N,NaN
6,7.0,기업개요,CMP_SCL,기업규모,VARCHAR2(3),NaN,Y,NaN
7,8.0,기업개요,PBCO_GB,공기업구분 1.공기업 2.일반기업,VARCHAR2(3),NaN,N,NaN
8,9.0,기업개요,PSN_CORP_GB,개인법인구분 1.법인 2.개인,VARCHAR2(3),NaN,N,NaN
9,10.0,기업개요,HDOF_BR_GB,본점지점구분 1.본점 2.지점,VARCHAR2(3),NaN,N,NaN
10,11.0,기업개요,FR_IVST_CORP_YN,국외투자법인여부,VARCHAR2(1),NaN,N,NaN
11,12.0,기업개요,VENT_YN,벤처기업여부,VARCHAR2(1),NaN,N,NaN
12,13.0,기업개요,LIST_CD,상장코드,VARCHAR2(10),NaN,Y,NaN
13,14.0,기업개요,IND_CD_ORDR,산업코드차수,NUMBER(5),NaN,Y,NaN
14,15.0,기업개요,IND_CD1,산업코드1,VARCHAR2(6),NaN,Y,NaN
15,16.0,기업개요,IND_CD2,산업코드2,VARCHAR2(6),NaN,Y,NaN
16,17.0,기업개요,IND_CD3,산업코드3,VARCHAR2(6),NaN,Y,NaN
17,18.0,기업개요,PB_ORG_TYP,공공기관유형,VARCHAR2(3),'0',N,NaN
18,19.0,기업개요,MDSCO_PRTC_YN,중견기업보호여부,VARCHAR2(1),'N',N,NaN
19,20.0,기업개요,HDOF_CMP_CD,본점기업코드,NUMBER(10),NaN,Y,NaN
20,21.0,기업개요,ESTB_DATE,설립일자,VARCHAR2(8),NaN,Y,NaN
21,22.0,기업개요,ESTB_GB,설립구분,VARCHAR2(3),NaN,Y,NaN
22,23.0,기업개요,LIST_DATE,상장일자,VARCHAR2(8),NaN,Y,NaN
23,24.0,기업개요,MN_BIZ_CONT,주요사업내용,VARCHAR2(256),NaN,Y,NaN
24,25.0,기업개요,NATN_NM,국가명,VARCHAR2(64),NaN,Y,NaN
25,26.0,기업개요,HOMEPAGE_URL,홈페이지URL,VARCHAR2(128),NaN,Y,NaN
26,27.0,기업개요,CEO_NM,대표자명,VARCHAR2(128),NaN,Y,NaN
27,28.0,기업개요,EMP_CNT,직원수,NUMBER(10),NaN,Y,NaN
28,29.0,휴폐업정보,BIZ_NO,사업자등록번호,VARCHAR2(10),'Z',N,NaN
29,30.0,휴폐업정보,END_DATE,종료일자,VARCHAR2(8),NaN,N,가장 최신 데이터는 99991231의 값을 가짐
30,31.0,휴폐업정보,STRT_DATE,시작일자,VARCHAR2(8),NaN,N,NaN
31,32.0,휴폐업정보,CLSBZ_GB,휴폐업구분,VARCHAR2(3),NaN,Y,NaN
32,33.0,휴폐업정보,STAT_OCR_DATE,상태발생일자,VARCHAR2(8),NaN,Y,2018.01~2022.08 휴폐업 기업
33,34.0,기업재무,BIZ_NO,사업자등록번호,VARCHAR2(10),'Z',N,NaN
34,35.0,기업재무,STT_YR,결산년도,VARCHAR2(8),NaN,N,2019~2022 결산기준
35,36.0,기업재무,ACCT_CD,계정코드,VARCHAR2(6),NaN,N,NaN
36,37.0,기업재무,ACCT_NM,계정명,VARCHAR2(256),NaN,N,NaN
37,38.0,기업재무,ACCT_AMT,계정금액,NUMBER(15),NaN,Y,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,,NaN,NaN,NaN,NaN

In [33]:
column_list=[]
for i in range(42):
    j_dict={레이아웃['영문칼럼명'].iloc[i]:레이아웃['한글칼럼명'].iloc[i]}
    column_list.append(j_dict)

In [36]:
def tokor(x):
    global column_list
    return column_list[x]

In [44]:
기업개요.columns=[column_list[i][k] for i,k in enumerate(기업개요.columns)]

In [52]:
active기업개요.columns=[column_list[i][k] for i,k in enumerate(active기업개요.columns)]

KeyError: 'CMP_NM1'

In [49]:
active기업개요.columns=[column_list[i][k] for i,k in enumerate(기업개요.columns)]

KeyError: '사업자등록번호'

In [46]:
기업개요.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6739 entries, 0 to 6738
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   사업자등록번호             6739 non-null   int64
 1   기업접두명               4845 non-null   object
 2   기업명                 6739 non-null   object
 3   기업접미명               1286 non-null   object
 4   기업영문명               6695 non-null   object
 5   업종                  6739 non-null   object
 6   기업규모                6739 non-null   int64
 7   공기업구분 1.공기업 2.일반기업  6739 non-null   int64
 8   개인법인구분 1.법인 2.개인    6739 non-null   int64
 9   본점지점구분 1.본점 2.지점    6739 non-null   int64
 10  국외투자법인여부            6739 non-null   object
 11  벤처기업여부              6739 non-null   object
 12  상장코드                46 non-null     object
 13  산업코드차수              6734 non-null   float64
 14  산업코드1               6589 non-null   float64
 15  산업코드2               83 non-null     float64
 16  산업코드3               11 non-null     float64
 17  공공기관유형              6739 non-null   int64
 18  중견기업보호여부            6739 non-null   object
 19  본점기업코드              1451 non-null   float64
 20  설립일자                6174 non-null   float64
 21  설립구분                6739 non-null   int64
 22  상장일자                49 non-null     float64
 23  주요사업내용              6571 non-null   object
 24  국가명                 144 non-null    object
 25  홈페이지URL             2125 non-null   object
 26  대표자명                6738 non-null   object
 27  직원수                 6051 non-null   float64
dtypes: float64(8), int64(7), object(13)
memory usage: 1.4+ MB

In [ ]:
기업개요[]

In [45]:
기업개요

,사업자등록번호,기업접두명,기업명,기업접미명,기업영문명,업종,기업규모,공기업구분 1.공기업 2.일반기업,개인법인구분 1.법인 2.개인,본점지점구분 1.본점 2.지점,...,중견기업보호여부,본점기업코드,설립일자,설립구분,상장일자,주요사업내용,국가명,홈페이지URL,대표자명,직원수
0,1268145633,(주),용진테크,NaN,"Yongjin Tech Co., Ltd.",M,2,2,1,1,...,N,NaN,20000529.0,1,NaN,자동차부품 제조판매업,NaN,www.yongjintech.com,안상동,40.0
1,1388101749,NaN,신구건설,(주),"SHINKU C0NSTRUCTION CO.,LTD.",M,2,2,1,1,...,N,NaN,19850110.0,1,NaN,건축자재 판매업,NaN,www.shinku.co.kr,소재필,13.0
2,1068179240,(주),석정미디어,NaN,sung jung,M,2,2,1,1,...,N,NaN,19990601.0,1,NaN,"토너, 잉크, 프린터 외 컴퓨터 관련 주변기기",NaN,NaN,이상호,1.0
3,2248114507,(주),새한실업,NaN,"SAEHAN INDUSTRY CO.,LTD.",M,2,2,1,1,...,N,NaN,19980522.0,1,NaN,금속 캔 및 기타 포장용기 제조업,NaN,NaN,김정남외 1명,6.0
4,1168132785,(주),석영엔터프라이즈,NaN,"Seokyoung Enterprise Co.,Ltd.",M,2,2,1,1,...,N,NaN,19930226.0,1,NaN,스마트트레이 외,NaN,www.systeel.co.kr,박성진,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6734,4808501629,NaN,게방식당팩토리,NaN,gebangsikdangfactory,M,2,2,1,2,...,N,8474403.0,20180126.0,1,NaN,간장게장(장류),NaN,https://gebangsikdang.modoo.at/,방건혁,NaN
6735,8018501578,(주),우진푸드중부지점,NaN,woojinfood,M,2,2,1,2,...,N,4033821.0,20200727.0,1,NaN,"돈가스, 탕수육, 꿔바로우",NaN,우진푸드.com,신남정,22.0
6736,4118523419,(주),윤월드푸드코리아다크써클브로스,NaN,"Youn World Food Korea Co., Ltd.",M,2,2,1,2,...,N,9189675.0,20190926.0,1,NaN,"한식, 중식",NaN,NaN,윤인수,0.0
6737,1738102533,(주),기린테크,NaN,"Girin Tech Co., Ltd.",M,2,2,1,1,...,N,NaN,20211025.0,1,NaN,1.인공지능(AI) 솔루션 구축 및 관련사업,NaN,NaN,임계현,NaN
6738,3138135248,NaN,우리로봇,(주),"Woori Robot Co., Ltd.",M,2,2,1,1,...,N,NaN,20200629.0,1,NaN,NaN,NaN,NaN,오석환,NaN

In [34]:
column_list

[{'BIZ_NO': '사업자등록번호'},
 {'CMP_PFIX_NM': '기업접두명'},
 {'CMP_NM': '기업명'},
 {'CMP_SFIX_NM': '기업접미명'},
 {'CMP_ENM': '기업영문명'},
 {'BZ_TYP': '업종'},
 {'CMP_SCL': '기업규모'},
 {'PBCO_GB': '공기업구분 1.공기업 2.일반기업'},
 {'PSN_CORP_GB': '개인법인구분 1.법인 2.개인'},
 {'HDOF_BR_GB': '본점지점구분 1.본점 2.지점'},
 {'FR_IVST_CORP_YN': '국외투자법인여부'},
 {'VENT_YN': '벤처기업여부'},
 {'LIST_CD': '상장코드'},
 {'IND_CD_ORDR': '산업코드차수'},
 {'IND_CD1': '산업코드1'},
 {'IND_CD2': '산업코드2'},
 {'IND_CD3': '산업코드3'},
 {'PB_ORG_TYP': '공공기관유형'},
 {'MDSCO_PRTC_YN': '중견기업보호여부'},
 {'HDOF_CMP_CD': '본점기업코드'},
 {'ESTB_DATE': '설립일자'},
 {'ESTB_GB': '설립구분'},
 {'LIST_DATE': '상장일자'},
 {'MN_BIZ_CONT': '주요사업내용'},
 {'NATN_NM': '국가명'},
 {'HOMEPAGE_URL': '홈페이지URL'},
 {'CEO_NM': '대표자명'},
 {'EMP_CNT': '직원수'},
 {'BIZ_NO': '사업자등록번호'},
 {'END_DATE': '종료일자'},
 {'STRT_DATE': '시작일자'},
 {'CLSBZ_GB': '휴폐업구분'},
 {'STAT_OCR_DATE': '상태발생일자'},
 {'BIZ_NO': '사업자등록번호'},
 {'STT_YR': '결산년도'},
 {'ACCT_CD': '계정코드'},
 {'ACCT_NM': '계정명'},
 {'ACCT_AMT': '계정금액'},
 {nan: nan},
 {nan: nan},
 {nan: nan},
 {nan: nan}]